@import url(variables.css);

section#developers {
    height: 100vh;
    width: 100%;
    background-color: var(--devs-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

section#developers section.container {
    width: 90%;
    height: 90%;
}