@import url(variables.css);

header {
    position: fixed;
    top: 0;
    padding-block: .5vmin;
    width: 100%;
    background-color: var(--header-bg-color);
    height: 7vmin;
    z-index: 7;
}

header section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 80%;
    height: 100%;
    margin: auto;
}

header section aside#logo {
    height: 100%;
    width: auto;
    cursor: pointer;
}

header section aside#logo img {
    width: 5vmin;
}


header section aside.navigation {
    height: 100%;
    width: 50%;
    display: flex;
    gap: 3vmin;
}

header section aside.navigation nav {
    display: flex;
    gap: 1.25vmin;
    transform: translateX(-1vmin);
}

header section aside.navigation nav a {
    text-decoration: none;
    padding: 1vmin;
    color: var(--header-nav-color-normal);
    font-family: var(--Poppins);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.044);
    transition-duration: .4s;
}

header section aside.navigation nav a:hover {
    transform: translateY(-.5vmin);
    color: var(--header-nav-color-hover-and-marked);
}

header section aside.navigation nav a.marked {
    transform: translateY(-.5vmin);
    color: var(--header-nav-color-hover-and-marked);
}

header section aside.menu {
    display: none;
}

header section aside.login {
    height: 100%;
}

header section aside.login nav {
    display: flex;
    gap: 1.25vmin;
    transform: translateX(-1vmin);
}

header section aside.login nav a {
    text-decoration: none;
    padding: 0 2vmin;
    color: var(--header-nav-color-normal);
    color: rgb(39, 39, 39);
    font-family: var(--Fredoka);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.044);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-duration: .4s;
}

header section aside.login nav a#loginBtn {
    background-color: #fff;
    width: max-content;
    text-align: center;
    white-space: nowrap;
    border-radius: 2vmin;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.057);
    gap: 1.5vmin;
}

header section aside.login nav a#loginBtn:hover span {
    transform: scaleX(1.3);
}

header section aside.login nav a#loginBtn span {
    display: flex;
    align-items: center;
    transition-duration: .8s;
}