@import url(variables.css);

section#home {
    height: 80vh;
    width: 100%;
    background-color: #531d36;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

section#home section.container {
    height: 90%;
    width: 98%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section#home section.container aside.content {
    width: 45%;
}

section#home section.container aside.content h1 {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.253);
    color: white;
    font-family: var(--Oswald);
    font-size: 4rem;
    margin-bottom: 2vmin;
}

section#home section.container aside.content p {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.253);
    color: whitesmoke;
    font-family: var(--SUSE);
    font-size: 1.4rem;
    line-height: 1.15em;
}

section#home section.container aside.content button {
    margin-top: 2vmin;
    width: 20%;
    height: 5vmin;
    border-radius: 5px;
    border: none;
    font-family: var(--Poppins);
    font-weight: bold;
    color: whitesmoke;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.256);
    letter-spacing: .1vmin;
    background-color: #843057;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.163);
    cursor: pointer;
    transition-duration: .8s;
}

section#home section.container aside.content button:hover {
    color: white;
    box-shadow: 0px 0px 15px rgba(101, 100, 100, 0.204);
}

section#home section.container aside.image {
    max-width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

section#home section.container aside.image img {
    height: 90%;
}