@import url(variables.css);

section#home {
    height: 100vh;
    width: 100%;
    background-color: var(--home-bg-color);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

section#home::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0%;
    height: 102%;
    width: 70vmin;
    background-color: var(--home-emphasis-color);
}

section#home section.container {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section#home section.container aside.content {
    width: 50%;
}

section#home section.container aside.content h1 {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.153);
    color: var(--home-h1-color);
    font-family: var(--InstrumentSans);
    font-size: 4rem;
    margin-bottom: 1.5vmin;
}

section#home section.container aside.content p {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.153);
    color: var(--home-p-color);
    font-family: var(--OpenSans);
    font-size: 1.4rem;
    line-height: 1.1em;
}

section#home section.container aside.content button {
    margin-top: 2vmin;
    width: 22vmin;
    height: 5vmin;
    border-radius: 5px;
    border: none;
    font-family: var(--Poppins);
    font-weight: bold;
    color: var(--home-button-color);
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.256);
    letter-spacing: .1vmin;
    background-color: var(--home-button-bgcolor-normal);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.163);
    cursor: pointer;
    transition-duration: .8s;
}

section#home section.container aside.content button:hover {
    background-color: var(--home-button-bgcolor-hover);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.291);
}

section#home section.container aside.image {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

section#home section.container aside.image img {
    height: 70%;
    position: relative;
}